.sidenav {
    height:200%;
    width:260px;
    position: fixed;
    z-index:1000000000000000;
    top:0;
    left:0;
    background-color:yellow;
    overflow-x: :hidden;
    padding-top:20px;
}


#content {
    width:22%;
    background-color:red;

}

.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

.sidenav a:hover{
    color:#f1f1f1;
}

.main{
    margin-left:60px;
    padding: 0px 10px;
    text-align:center;
}


ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
