{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block form %}


<div id="form" style="background-color:#f0f2f5 !important;">
    <h2>Sign up form</h2><br>
  <form method="post">
  {% csrf_token %}
      {{form|crispy}}

      <br>
      <button type="submit" class="btn btn-success">Sign up</button><br><hr>
        <a class="btn btn-primary mb-4" href="{% url 'login' %}" role="button"> login </a>
   </form>
    </div>
    <br>

    {% endblock %}

  {% block banner %}
    <h2> Mood tracker </h2><br>
    <h4> monitor your mood and explore yourself </h4>


    {% endblock %}