{% extends 'users/layout.html' %}

{% block form %}
<div id="form">
    <h2>Sign up</h2>
    <br>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="col-auto">


      {{ field.label_tag }}<br>
      {{ field }} <br>
      {% if field.help_text %}

      {% endif %}
      {% for error in field.errors %}
      <br>
        <p class="p-2 mb-2 bg-warning text-dark">{{ error }}</p>
      {% endfor %}
    </div>

    </p>
  {% endfor %}
  <br>
  <button type="submit" class="btn btn-success">Sign up</button>
    </form>
        <hr>
      </br>
        <a class="btn btn-primary" href="{% url 'login' %}" role="button"> login </a>
    </div>

    {% endblock %}

  {% block banner %}
    <h1 style="font-size: 300%"> Mood tracker </h1><br>
    <h3> monitor your mood and explore yourself </h3>


    {% endblock %}