body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
	text-align:center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#wrapper {
    width: 80%;
    overflow: hidden;
    margin: auto;

}

#main-form {
    background-color:transparent;
    width: 100%;
    margin: auto;
    margin-top: 15%;
    border-radius: 25px;


}

#side-banner {

    float:left;
    width:36%;
    background-color:transparent;
    font-family: Arial;
    color: #0C0032;

}

#side-banner.h1 {
    font-weight: bold;
}


#side-banner.h3 {
    font-weight: bold;
}

#form {
    background-color:transparent;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    padding: 1%;
    border-radius: 20px;
    float:right;
    margin-top: -10%;
    margin-bottom: 15%;
    clear: both;
    border: 1.5px solid black;

}

/* Use a media query to add a breakpoint at 800px: new comment*/
@media screen and (max-width: 800px) {
  #form {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  # side-banner {
    width: 0%;
  }
}