{% extends 'mood/base.html'%}
{% load crispy_forms_tags %}
{% load static %}




        {% block scripts %}
        <script src="{% static 'mood/index.js' %}" defer></script>

        {% endblock %}



    {% block headline %}

<h4> {{ user }}'s mood tracker</h4><br>

    {% endblock %}



            {% block body %}

            {% block modal %}









<!-- Modal for adding medication-->
<div class="modal fade" id="add-medication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">add medication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="alert-box-add"></div>
        <form id="medication-form" action="{%url 'med'%}" method="POST">
            {% csrf_token %}
             <div class="form-group">
                <div class="input-group-prepend">
                 </div>
                    <div class="form-group">
                     <label for="med-name">Name of medication: </label>
                        <input type="text" class="form-control" id="med-name" name="med-name-add" placeholder="e.g. serequil">
                     </div>
                    <label for="med-delete">Describe your medication or add any note:</label>
                        <textarea autofocus class="form-control" aria-label="With textarea" name="med-description" id="med-delete" placeholder="e.g. I felt a bit light-headed."></textarea>
                    </div>


            <button type="submit" class="btn btn-primary" id="submit-med" disabled>Add</button>
      </form>
      </div>

    </div>
  </div>
</div>



<!-- Modal for deleting medication-->
<div class="modal fade" id="del-medication" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2" style="text-align: center;">delete medication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="alert-box-del"></div>
        <form id="medication-form-del" action="{%url 'med_del'%}" method="POST">
            {% csrf_token %}
             <div class="form-group">
                <div class="input-group-prepend">
                 </div>
                    <div class="form-group">
                     <label for="med-name">Name of medication: </label>
                        <input type="text" class="form-control" id="med-del-name" name="med-name-del" placeholder="e.g. serequil ">
                     </div>
                    <label for="med-del">Describe your medication or add any note</label>
                        <textarea autofocus class="form-control" aria-label="With textarea" name="med-description" id="med-del" placeholder="e.g. I felt a bit light-headed."></textarea>
                    </div>

            <button type="submit" id="delete-med-submit" class="btn btn-primary" disabled>Delete</button>
      </form>
      </div>

    </div>
  </div>
</div>


                    {% endblock %}

<h6> how are you feeling today? please shortly describe your day or your feelings</h6><br>
<hr>
{% if info %}
<div id="data-processed-info" class="alert alert-info" role="alert">
  Your data was processed successfully!
</div>
{% endif %}

{% if info_med %}
<div id="med-info" class="alert alert-info" role="alert">
  Your medication was added successfully!
</div>
{% endif %}

{% if info_med_error %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript">
// great solution - how to get a Django CSRF token from CSRF Cookies
// https://stackoverflow.com/questions/19333098/403-forbidden-error-when-making-an-ajax-post-request-in-django-framework

var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

const confirmation = confirm("would you like to proceed with this medicine even though the name was not found in the internation database");
if (confirmation){
    const proceed = "proceed"
    const proceed_medicine = JSON.stringify(proceed)
    $.ajax({
        url: "/home/ajax/",
        type: "POST",
        contentType: 'application/json',
        data: JSON.stringify(proceed),
        success: function () {
            alert("Your medication was added!");
        }
    });

}else {
    alert("something went wrong!");
}
</script>

<div id="med-info-error" class="alert alert-danger" role="alert">
  Your medication was not found in National Library of Medicine (NIH) database!
</div>
{% endif %}


{% if info_med_duplicate %}
<div id="med-info-dupl" class="alert alert-danger" role="alert">
  Your medication had already been added!
</div>

{% endif %}

{% if info_med_del %}
<div id="med-alert" class="alert alert-info" role="alert">
  Your medication was deleted successfully!
</div>
{% endif %}

{% if item_not_found %}
<div id="med-not-found" class="alert alert-danger" role="alert">
  You did not enter correct medication, try it again!
</div>
{% endif %}

{% if info_posted %}
<div id="info-posted" class="alert alert-danger" role="alert">
  You have already conducted your daily report!
</div>
{% endif %}


<form action="{% url 'message'%}", method="post">

    {% csrf_token %}
    <div class="input-group">
      <div class="input-group-prepend">
      </div>
      <textarea autofocus class="form-control" aria-label="With textarea" name="message" id="message" placeholder="how was your day?"></textarea>
    </div>
    <br>

    <h1> {{message_med}} </h1>
    <div id="content" name="content" class="main">
		<div class="row d-flex justify-content-center">
			<div class="col-10">
                <select class="form-control-dm custom-select" name="rating" id="rating">
                  <option selected>How would you rate your day on the scale 1 to 10</option>
                    {% for i in 11|get_range %}
                    <option>{{i}}</option>
                    {% endfor %}
                </select>
                <br><br>
                <select class="form-control-dm custom-select" id="form-control-2" name="med-type">
                    <option value="" disabled selected hidden>check out or change your medication list</option>
                  <optgroup label="your current medication">
                  {% for med in request.user.medication.all%}
                    // to filter only medication not their description
                    // maybe limit number of medication ???
                      {% if med.name_of_medication %}
                  <option value="{{med.name_of_medication}}" placeholder="sad">{{med.name_of_medication}}</option>
                      {% endif %}
                  {% endfor %}
                  </optgroup>
                    <optgroup label="edit your meds">
                    <option value="add-medication">add medication</option>
                    <option value="del-medication">delete medication</option>
                    </optgroup>
                </select>
                <br><br>
            </div>
        </div>
    </div>

    <button class="btn btn-primary mt-4" id="submit" type="submit"disabled data-bs-toggle="tooltip" title="you can submit your day mood just once a day!">Submit</button>
    <button class="btn btn-success mt-4" id="add-med" type="button" data-toggle="modal" data-target="#add-medication" hidden> add medication </button>
    <button class="btn btn-warning mt-4" id="del-med" type="button" data-toggle="modal" data-target="#del-medication" hidden> delete medication </button>
</form>
</div>
</div>
{% endblock %}