{% extends 'mood/layout.html'%}



{% block body %}


<script>

// pop up value in alert message
/*
document.addEventListener('DOMContentLoaded', ()=>{
    document.querySelector('form').onsubmit = ()=>{
        const our_text = document.querySelector('.form-control').value;
        alert(`our message is ${our_text}`);
    }
});
*/
// disable submit before filling out input
document.addEventListener('DOMContentLoaded', ()=>{
    document.querySelector('#submit').disabled = true;
    // onkeyup - means once we lift up our finger
    document.querySelector('#message').onkeyup = ()=> {
        if(document.querySelector('#message').value.length > 0){
            document.querySelector('#submit').disabled = false;
        }else {
            document.querySelector('#submit').disabled = true;
        }
   }
});



</script>


<h6> how are you feeling today? please shortly describe your day or your feelings</h6><br>
<form action="{% url 'message'%}", method="post">
    {% csrf_token %}
    <div class="input-group">
      <div class="input-group-prepend">
      </div>
      <textarea autofocus class="form-control" aria-label="With textarea" name="message" id="message"></textarea>
    </div>
    <br>


    <div id="content" name="content" class="main">
		<div class="row justify-content-center">
			<div class="col-8">
                <select class="form-control-dm custom-select" name="med-type">
                  <option selected>What type of medication are you on?</option>
                  {% for med in request.user.medication.all%}
                  <option value="{{med.name_of_medication}}">{{med.name_of_medication}}</option>
                  {% endfor %}
                    <option>different medication</option>
                </select>
                <br><br>
                <select class="form-control-dm custom-select" name="rating">
                  <option selected>How would you rate your day on the scale 1 to 10</option>
                    {% for i in 10|get_range %}
                    <option>{{i}}</option>
                    {% endfor %}
                </select>
                <br><br>

            </div>
        </div>
    </div>

    <button class="btn btn-primary" id="submit" type="submit" onclick="pop()" >Submit</button>
</form>

{% endblock %}