{% extends 'mood/layout.html'%}







{% block body %}
<style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

</style>


<br>
<h4> history of {{user}}'s mood</h4><br>


<ul class="no-bullets">
    {% for message in message_history %}
    <li> {{message.message}} </li>
    <li> {{message.data_created}} </li>
    {% empty %}
    <li> no mood history ! </li>
    {% endfor %}
</ul>





<!-- access using class attribute -->
<h1> {{our_class.message}} </h1>
<div style="background-color:yellow;">
       {{bla|safe}}
</div>


<div style="width:500;height:100">
{{ graph }}
</div>

{% endblock %}