{% extends 'mood/base.html'%}
{% load crispy_forms_tags %}









    {% block headline %}

<h4 xmlns="http://www.w3.org/1999/html"> history of {{request.user}}'s mood</h4><br>

    {% endblock %}

    {% block script %}

    {% endblock %}

    {% block body %}
    {% if no_data %}
        <div class="alert alert-warning" role="alert">
          No data available, please try different date!
        </div>
    {% endif %}
    <div class="container">
      <div class="row justify-content-center mt-3 mb-5 pb-2">
			<div class="col-md-8 col-sm-4 col-xs-4" >
            <form action="{% url 'mood_history_result' %}" method="POST">
                {% csrf_token %}
                {{search_form | crispy}}
                <button type="submit" class="btn btn-primary mt-3">Search</button>
            </form>
        </div>
      </div>
    </div>


<br><br><br>

<!--
<ul class="no-bullets">
    {% for message in message_history %}
    <li> {{message.message}} </li>
    <li> {{message.data_created}} </li>
    {% empty %}
    <li> no mood history ! </li>
    {% endfor %}
</ul>
-->





{% endblock %}