<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
{% extends 'mood/base.html'%}







{% block body %}
<p>As your mood begins to lift—and sooner or later it certainly will—you can make more and bigger changes to your routine.</p>
<div class="markup-replacement-slot markup-replacement-slot-0" data-slot-position="0"></div>
<p>And if you can hold on to those habits once your mood has lifted, you may well feel better than you ever have before.</p>
<p><strong>1. Spend more time with sympathetic friends and relatives.</strong></p>
<p>So long as they are receptive, talking to others about our feelings helps us to process them, put them into perspective, and obtain advice and support. Don’t be afraid to tell people that you need their time, or feel guilty for taking it. If you are uncomfortable talking to relatives and friends, or are unable to do so, you can phone a helpline instead. Even if you don’t want to talk about your feelings, spending time with others, for example, playing sports or cooking a meal, should help to lift your mood.</p>
<div class="markup-replacement-slot markup-replacement-slot-1" data-slot-position="1"></div>
<p><strong>2. Don’t bite off more than you can chew. </strong></p>
<p>Try to reduce your levels of <a href="https://www.psychologytoday.com/au/basics/stress" title="Psychology Today looks at stress" class="basics-link" hreflang="en">stress</a>. Simplify your life, even if it means doing less or doing only one thing at a time. Break down large tasks into smaller ones and set realistic deadlines for completing them. Don’t blame yourself for "doing nothing"; you are merely giving yourself the time and space that you need to get better. Just think of it as taking a step back to jump further.</p>
<div class="markup-replacement-slot markup-replacement-slot-2" data-slot-position="2"></div>
<p><strong>3. Do more of the things you normally enjoy, even if they no longer seem appealing. </strong></p>
<p>Read your favourite <a href="https://www.psychologytoday.com/au/basics/child-development" title="Psychology Today looks at childhood" class="basics-link" hreflang="en">childhood</a> book, watch a movie, prepare a meal, schedule a call with an old friend—anything that gets you out and takes your mind off negative thoughts is likely to make things that much better.</p>
<p><strong>4. Get out of the house, even if only to buy milk or walk in the park.</strong></p>
<div class="markup-replacement-slot markup-replacement-slot-3" data-slot-position="3"></div>
<p>Bright daylight, fresh air, and the hustle-bustle of everyday life can all be helpful, as can the sights, sounds, and smells of nature. If you can, try to take some mild exercise such as a 30-minute walk—ideally, through some greenery, on a stretch of coastline, or past some beautiful buildings.</p>
<p><strong>5. Fight off negative thoughts. </strong></p>
<div class="markup-replacement-slot markup-replacement-slot-4" data-slot-position="4"></div>
<p>Make a list of all the positive things about you and your life (you may need help with this), keep it in your bag or wallet, and read it to yourself every morning, or even every few hours. However bad you may be feeling, remember that you have not always felt this way, and that you will not always feel this way.</p>
<div class="markup-replacement-slot markup-replacement-slot-5" data-slot-position="5"></div>
<p><strong>6. Be patient with yourself.</strong></p>
<p>Improvements in mood are likely to be gradual rather than sudden, and you may even get worse before you start to get better. Once you are on the right track, there are going to be good days and bad days. A bad day that comes after a good one can seem all the worse for it. Don’t blame yourself for the bad days, and don’t despair. They will become fewer over time.</p>
<div class="markup-replacement-slot markup-replacement-slot-6" data-slot-position="6"></div>
<p><strong>7. Avoid making or acting upon important decisions.</strong></p>
<p>Now is not the time to separate from your partner, quit your job, or spend large amounts of money. While in the throes of <a href="https://www.psychologytoday.com/au/basics/depression" title="Psychology Today looks at depression" class="basics-link" hreflang="en">depression</a>, thinking errors are likely to impair your <a href="https://www.psychologytoday.com/au/basics/decision-making" title="Psychology Today looks at decision-making" class="basics-link" hreflang="en">decision-making</a>. Check your reasoning with others and carefully consider their advice—especially if you don’t agree with it!</p>
<div class="markup-replacement-slot markup-replacement-slot-7" data-slot-position="7"></div>
<p><strong>8. Get as much sleep as you can.</strong></p>
<p>A single night’s sleep, or even a nice nap, can make a world of difference to the way we feel.</p>
<p><strong>9. Make an appointment with a health professional.</strong></p>
<p>Enlist the advice and support of your family doctor or a psychiatrist. Maybe ask your doctor for counselling and take things from there.</p>
<div class="markup-replacement-slot markup-replacement-slot-8" data-slot-position="8"></div>
<p><strong>10. Decide whom to call in an emergency should you feel overwhelmed by negative or <a href="https://www.psychologytoday.com/au/basics/suicide" title="Psychology Today looks at suicidal" class="basics-link" hreflang="en">suicidal</a> thoughts.</strong></p>
<p>This may be a relative or friend, your doctor, or a helpline. Think of a backup in case your preferred option is unreachable. Save their contact numbers into your phone so that they are always at hand.</p>
<div class="markup-replacement-slot markup-replacement-slot-9" data-slot-position="9"></div>
<p><em>Check out </em><a href="http://mybook.to/GrowingfromDepression">Growing from Depression</a>, <a href="http://mybook.to/Heaven_and_Hell">Heaven and Hell: The Psychology of the Emotions</a><em>, and the author's other books.</em></p>


{% endblock %}
</html>