{% extends 'mood/base.html'%}
{% load crispy_forms_tags %}







{% block body %}
<style>
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

</style>


<br>
<h4> history of {{user}}'s mood</h4><br>
<h1>graph or table</h1><br><br>

<form action="{% url 'mood_history' %}" method="POST">
    {% csrf_token %}
    {{form | crispy}}
    <button type="submit">submit</button>
</form>

<br><br><br>

<ul class="no-bullets">
    {% for message in message_history %}
    <li> {{message.message}} </li>
    <li> {{message.data_created}} </li>
    {% empty %}
    <li> no mood history ! </li>
    {% endfor %}
</ul>


<h1>graph or table</h1>




<!-- access using class attribute -->
<h1> {{our_class.message}} </h1>
<div style="background-color:yellow;">
       {{bla|safe}}
</div>


<img src="data:image/png;base64, {{chart_line|safe}}">
<br><br>
<img src="data:image/png;base64, {{chart_bar|safe}}">
{% endblock %}